.main-display {
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid grey;
    border-bottom: 2px solid rgba(0, 0, 255, .3);
    background: transparent;
}

.display {
    text-align: right;
    padding: 10px;
    background: inherit;
    width: 95%;
    border: none;
    outline: none;
    color: #fff;
}

.light-mode {
    color: #333;
}

