

.App {
  width: 350px;
  border-radius: 5px;
  box-shadow: 5px 5px 7px #087e92;
}

#toggleDark {
  position: absolute;
  right: 5%;
  top: 3%;
}

.body-light-mode {
  background: rgb(238, 238, 238);
}
.app-light-mode {
  box-shadow: 5px 5px 7px #333;
}